:root {
  black: #000000;
  white: #ffffff;
  red: #cf0a2b;
  green: #22e753;
  blue: #2734e6;
  yellow: #f8e21e;
  orange: #f05811;
  purple: #6a24ec;
  brown: #a05634;
  pink: #e92e76;
  gray: #81a0a8;
  cyan: #4fecec;
}
